/* CSS declarations go here */
.ingredients .form-control {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.ingredients .form-group {
  /*width: 33%;*/
  display: inline-block;
  margin-bottom: 0;
  padding-left: 1px;
  padding-right: 1px;
}
.padding-left{
  padding-left: 15px !important;

}
.padding-right {
  padding-right: 15px !important;
}

.ingredients span {
  padding: 0;
}


@media (min-width: 768px) {
  .container {
    width: 100%;
  }
  .ingredients h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .container {
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}

footer {
  height: 20px;
}

.btn-group:focus {
   outline: none;
}

.category.has-error button{
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

ul.grid,
.grid li {
  list-style: none;
}

ul.grid {
  padding-left: 5px;
  padding-right: 5px;
  z-index: 200;
}

@media only screen {
  body {
    padding-top: 50px;
    background: #f6f6f6
  }

}

.recipe-grid li {
  padding-left: 5px;
  padding-right: 5px;
}
.recipe-grid a {
  border-radius: 0;
  color: black;
  border: 0;
  margin-bottom: 10px;
}
.recipe-grid a:hover,
.recipe-grid a:active {
  background-color: #f3f3f3;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3)
}
.recipe-grid img:hover,
.recipe-grid img:active {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}


@media (min-width: 768px) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#add-button {
  position: fixed;
  top: 75px;
  z-index: 500;
}

@media print {
  button, a {
    display: none !important;
  }
  body {
    padding-top: 0;
  }
  img {
    width: 150px;
  }
}
