/* CSS declarations go here */
.ingredients .form-control {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.ingredients .form-group {
  /*width: 33%;*/
  display: inline-block;
  margin-bottom: 0;
  padding-left: 1px;
  padding-right: 1px;
}
.padding-left{
  padding-left: 15px !important;

}
.padding-right {
  padding-right: 15px !important;
}

.ingredients span {
  padding: 0;
}


@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 800px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}

footer {
  height: 20px;
}

.btn-group:focus {
   outline: none;
}

.category.has-error button{
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

ul.grid,
.grid li {
  list-style: none;
}

.grid li {
}
