export ROOT_URL="https://rezepte.ewald-moitzi.at"


ONGODB_ADMIN_PWD='jgfiodpaose'
MONGODB_CREATE_PWD='osidnfios'
MONGODB_OPLOGGER_PWD='lsidignse'

export MONGO_URL="mongodb://meteor:${MONGODB_CREATE_PWD}@mongodb/meteor"
export MONGO_OPLOG_URL="mongodb://oplogger:${MONGODB_OPLOGGER_PWD}@mongodb/local?authSource=admin"
